*{
    margin: 0;
    padding: 0;
}

nav{
    color: black;
    font-family: 'Helvetica', serif;
    font-size: 20px; font-weight: normal;
    line-height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    text-align: center;
}
header{
    border: none;
}

body{
    /*background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 1500px; */
    height: 100%;
    font-family: sans-serif, 'Helvetica';
    font-size: 20px;
}

form{
    line-height: 20pt;
}

input[type=text], select, textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
    margin-left: 20px;
    border-color: black;
    color: black;
    float: bottom;
}

input[type=radio] {

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 20px;
}

label {
    margin-left: 20px;
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #000000;
    text-align: center;
}

input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;

}

input[type=submit] #mostrar{
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;

}


input[type=submit]:hover {
    background-color: lightgreen;
    color: black;
    border: 2px solid #4CAF50;
}



#formulario{
    width: 400px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 25px;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -250px;
    margin-left: -185px;
}

#formularioPreguntas {
    width: 750px;
    height: auto;
    overflow: hidden;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 25px;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 35%;
    margin-top: -250px;
    margin-left: -185px;
    color: black;
}
#comparar{
    width: 800px;
    height: 600px;
    overflow: hidden;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 25px;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 35%;
    margin-top: -250px;
    margin-left: -185px;
    color: black;
}

#form{
    color: #000;
    font-size: 20px;
}

#selecFecha{
    margin-left: 20px;
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #000000;
}


#resultadoFormulario{
    color: #000;
    font-size: 20px;
}

.fecha{
    width: 25%;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 20px;
    border-color: black;
}
 .tabla{

 }

 table{
    align-items: center;
     background-color: white;
     margin-left: 30%;
     margin-top: 20%;
 }
.tabla2{
    align-items: center;
    background-color: white;
    margin-left: 30%;
    margin-top: 0%;
}

#promeioH1{
    margin-top: 20%;
    margin-left: 5%;
    text-align: center;
}

h2{
    text-align: center;
}

#promedio{
    width: 1100px;
    height: 600px;
    overflow: hidden;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 25px;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 25%;
    margin-top: -250px;
    margin-left: -185px;
    color: black;
}

